
.container {
    width: 99%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    text-align: center;
    height: 90vh;
    background: url(../asset/images/bg2.avif);
    background-size: cover; /* Scales the image to cover the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
  }
  .joinContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background-color: #626F47;
    width: 500px;
    height: 110px;
   text-align: center;
   margin-left: 500px;
   margin-top: 200px;
    
  }
  .chatContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-position: 100%;
    background-repeat: no-repeat;
    /* border: 3px rgb(150, 145, 145) solid; */
    border-radius: 10px;
    height: 100%;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .usersList{
    border: 1px solid #ccc;
    padding-bottom: 10px;
    font-family: cursive;
    font-size: 16px;
    border-radius: 5px;
  }
  .user {
    background-color: #ddd;
    padding: 5px;
    margin: 5px;
    border-radius: "5px";
  }
  .chatBox {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
   
  }
  .message{
    padding: 8px;
    border-radius: 15px;
    border-top-left-radius: 100px;
   border-bottom-right-radius: 50px;
    margin: 5px ;
    max-width: 80%;
    text-transform: capitalize;
    border: 1px solid red;
  }
  .inputContainer {
    display: flex;
    margin-top: 10px;
    height: 50px;
    color: white;
    font-weight: bold;
    height: 80px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 98%;
    text-align: center;
    padding: 10px;
    background-color: #626F47;
    border-radius: 15px;
     
  }
  strong{
    margin-bottom: 20px;
  }
  .input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    background: 5px;
    border-radius: 10px;
   font-size: 20px;
   color: white;
   font-family: cursive;
   margin-top: 15px;
   
  }
  input::placeholder {
    color: white;
    font-size: 16px;
  }
  .button {
    margin-left: 5px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
  }
  .button:hover{
    background-color: rgb(8, 57, 216);
  }
  .view{
    font-size: 25px;
    font-family: cursive;
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;
    text-decoration: none;
    align-items: end;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    width: 170px;
    margin-left: 230px;
    margin-bottom: 10px;
  }
  .views{
    font-size: 25px;
    font-family: cursive;
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;
    text-decoration: none;
    align-items: end;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    width: 170px;
    margin-left: 1200px;
    padding: 20px;
  }
  .view:hover{
 background-color: rgb(28, 202, 233);
 color: rgb(223, 217, 217);
  }
  .link{
    display: flex;
    justify-content: end;
  }
  
  .usersLists{
    border: 1px solid #ccc;
    padding-bottom: 10px;
    font-family: cursive;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 200px;
    margin-right: 50px;
  }
  
.view-container{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 10px;
}